<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SillyStringz Factory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/FactoryStyles.css">
  </head>
  <body>
    <div class="open">
      <div class="layer"></div>
      <div class="layer"></div>
    </div>
    <section>
      <div class="bannerText">
        <h2>SillyStringz Factory</h2><br>
        <p>The only thing sillier than our engineers is their work ethic.</p>
        <a class="landingbutton" href="@Url.Action("Index", "Main", null)">Enter Factory</a>
      </div>
      <img src="https://raw.githubusercontent.com/GarrettHays/images/main/landinglogo.jpg" alt="logo" class="bulb">
    </section>
  </body>
</html>